<% 
  sections = {
    overview: {
      heading: 'Tribeca Press',
      img: 'tribeca-logo.jpg',
      body_text: 'Each year, the Tribeca Festival generates an exceptional volume of press, producing thousands of media placements across top-tier outlets, major trades, broadcast, and influential cultural publications. With hundreds of credentialed journalists and critics on the ground, Tribeca ensures deep, sustained coverage that extends well beyond premieres and red carpets, ensuring unmatched press exposure for film teams.',
      link: {
        button: 'Press Releases',
        url: 'https://tribecafilm.com/press-center/press-releases',
      }
    },
    numbers: {
      heading: "2025 Tribeca Festival By the Numbers",
      columns: [
        '1,000+ credentialed press from 620+ outlets',
        '205+ credentialed critics',
        '93% of feature films reviewed by press',
      ]
    },
    logos: {
      heading: 'Credentialed Press',
      images: [
        '1.png',
        '2.png',
        '3.png',
        '4.png',
        '5.svg',
        '6.png',
        '7.png',
        '8.png',
        '9.png',
        '10.png',
        '11.png',
        '12.png',
        '13.png',
        '14.webp',
        '15.svg',
        '16.png',
        '17.png',
      ],
      additional_press: ["¡HOLA\\! USA/Americas", "0613focus", "1010 WINS", "14thbelow.com", "5PMINLA", "AARP", "ABC Audio", "ABC News", "ABC News Live", "ABC NY", "Access Hollywood", "ACTION\\!", "Addy.media", "Adweek", "AFF-USA", "AFP", "Agencia EFE", "AintitCool.com", "AiPT", "Air Mail", "Aish.com and screensphere.co.uk", "All Ages of Geek", "Always Watching", "American Image Press", "amNewYork", "Amsterdam News/Los Angeles Sentinel/myNewYorkeye", "Anadolu Agency", "Animation Scoop", "ANSA", "Anthem Magazine", "Antoine DeBrill The Photographer", "APUNTESdeCINE", "Architectural Digest", "Aspiring Magazine", "Associated Press TV", "Associated Press/Invision", "Austin Chronicle", "Avalon", "Awards Buzz", "Awards Radar", "AwardsWatch", "Awesome TV", "AwesomeFriday.ca", "AWFJ.org", "Bain's Film Reviews", "BALKAN PRESS NEWSPAPER", "BBC / The Hollywood Reporter", "BBC News Ukraine", "BBC Studios", "BBC/BBC Talking Movies", "BBP News - BRAZIL PHOTO PRESS AGENCY", "BEImages", "BELLA Magazine & CBS's \"Live It Up\\!\" TV Show", "Below The Belt Show", "Berkshire Fine Arts", "Beyond the Cinerama Dome", "Bieler Tagblatt / Gassmann Media", "Billboard", "Black America Web / REACH Media", "Black Girl Nerds", "BLACK IN AMERICA Interactive One", "Black Tie International Magazine", "BlackandPaper", "blackfilm.com", "Blackfilmandtv.com", "Blogcritics.org", "Bloomberg Originals", "Bloomberg Television", "Boardroom", "BRAZIL PHOTO PRESS", "Brazilian Press Newspaper NYC", "Breezeway Productions", "Brit + Co", "BritBox", "Broadway Podcast Network", "BroadwayWorld", "BronxNet TV", "BUFFALO NEWS", "Business Insider", "Buttered Popcorn", "Calcalist", "Canyon-News", "Carlos Zatch", "carloszatch.com", "Catch These Compliments®", "CBS", "CBS Mornings Plus", "CBS NEWS", "CBS News New york", "CBS News Radio", "CBS Newspath", "CBS WLNY, The Donna Drake Show", "CBSNews.com / \"CBS Sunday Morning\"", "CEA Magazine", "Celluloid & Society", "Cherry the Geek TV", "Chicago and Gary Crusader newspapers", "Chicago Reader", "Cineaste", "Cinefied", "CinemaDaily US/The Weekend Warrior/Collider", "Cinemasters.net", "CINEMIAH", "Cinencuentro.com", "Cineolhar", "Cinephile Mike", "Cinerama Film", "Cineuropa", "Cineuropa / Purple Hour", "CineVino", "Clickmagazinenyc", "CNEWS FRANCE", "Coastal House Media", "Cold Tea Collective", "Coletivo Crítico", "Comingsoon.it", "Complex", "Constance “CeeBeyond” Magloire", "Contra Zoom Pod", "Coquetel Kuleshov", "Corriere della sera", "Cracked", "Critic's Notebook", "Crooked Marquee", "CrowdFlix", "Culture Catch", "Culture Mix", "Culture Wave Media", "Culture Wave Media Network", "CultureCatch.com; Medium.com; Bay Area Reporter; NewYorkTheaterWire", "Cultured Magazine", "CUNY TV/ PBS ALL ARTS", "Currents Magazine", "Daily hudson / Xponte Tv.", "Daily Mail", "DailyMail", "DailyMail.com", "DarkSkyLady Reviews", "Dartmouth College", "De Souza Strategies/La Reine en Moi", "Deadline", "Den of Geek", "Design Observer", "Deuxmoi / Shutterstock", "dgimedianyc", "Diamond Kut Media", "Digby's Hullabaloo", "Digital Journal", "Digital Mafia Talkies", "Dimitra.Is.Watching", "Directors Notes", "DIRECTV", "Dirty Movies", "Disability Reality Media", "DivaGalsDaily", "Documentary -", "DoomRocket", "Double Talk with Hannah and Cailin Loesch", "Downtown Post NYC", "DylanKDempsey.com,My Own Worst Critic", "E\\! News", "EBONY", "Edge Media Network/GALECA", "Editorial Wire", "EFE", "EFE News", "EFE News Services", "EGBN News", "El Diario NY", "El Universal", "Elation Creative and Georgia Fowkes", "Electrik Coast", "Elegant Expressions Magazine/Cin's Chat Corner/StatenIslander.Org", "Elements of Madness", "ELLE.com", "Empire Images", "Entertainment Tonight", "Entertainment Weekly", "ENTERTAINMENT WIRE", "EscribiendoCine/Plano Detalle/@soyadrianmonserrat", "Esquire / CinePantalla", "EuropaNewswire LLC", "Everett Collection", "Exclaim\\! Magazine", "Expresso", "Extra TV", "Eye For Film", "Eye of the Duck Film Podcast", "Eyeconicviews LLC", "F / Natural Style", "F This Movie\\!/FOX 29 Philadelphia", "FABUK", "FaceTime with Todd Wharton", "FAME Magazine", "Fangirl Files", "FANGORIA", "Feature Presentation", "Feito Por Elas", "Female Gaze: The Film Club", "FERNTV", "Film Castle", "Film Catalysts", "Film Comment", "Film Factual / Cinema Daily US", "Film Fest Report", "Film Festival Today", "Film Inquiry", "Film Obsessive", "Film Slop", "Film-Forward.com", "FilmBook", "FilmBuffOnline.com", "Filmhounds Magazine", "Filmkrant, YNaija, The Africa Report", "Filmmaker Magazine", "FilmSnobReviews.com", "Filmysasi.com", "Finger Gunz with Tony, Dave & James", "FlashWitZee Photography", "FLIXFROG", "Flixist", "Forbes", "Forbes.com", "Form-idea", "ForReel", "Fortune", "FOTOROAD.COM", "Fox News Radio", "Framework Journal of Cinema and Media", "Freelance", "Freelance Content Creator & Digital Influencer", "Freelance Photographer", "Freelance/BigPictureBigSound.com", "fresh pair of iis", "FUBIZ MEDIA AND STARFACE", "G C Media/WIRE", "Games And Parks Industry Magazine", "GamesRadar+", "Gavin Loves Movies", "Geek Vibes Nation", "Genius Korea", "Getty Images", "Getty Images Video", "Girl, That's Scary", "GLAAD", "Gold Derby", "Goldmine Magazine", "Good Morning America (DIGITAL)", "Good Tape", "GreenRoomNewYork.com", "Guilt.Production", "Hammer to Nail", "Harlem News", "Harper's BAZAAR", "Her Agenda", "High on Films", "Honeysuckle Magazine", "Horror Fuel", "Horror Junkies", "HORROR PRESS", "Horror With Morgan", "How To Make It With Emily & Haley", "https://nvj.nl - IFJ International Federation of Journalists", "https://www.shortstickfilms.com/", "Hue Watched It", "Huffington Post / GossipCentral.com / The East Hampton Star/ The Forward/The Purist", "Hyperreal Film Journal", "I Heart Noise", "Immersive Media", "In the Wake Tv", "In Their Own League", "Inc.", "Independent", "Indie Film Reporter + indieentertainmentmedia.com", "IndieWire", "Individual", "InSession Film", "Inside Reel/Fest Track On Sirk TV", "Instagram @nyc", "InStyle.com", "Intercut Podcast", "Interview by Ringier", "Interview Magazine", "InTouch, Life & Style, Closer Weekly", "InvitedNYC", "irishexaminerusa.com", "Istock by getty", "Jezebel and Paste Magazine", "Josh at the Movies", "JVS Media & Productions", "JWR", "Kids First\\!", "Kinocritics", "Kotaku.com", "La Lettre de l'Audiovisuel", "La Verdad Vocento Group", "LALOVE Blog", "Last Week Tonight with John Oliver", "Latina Media Co.", "Left of Str8 Media and Consulting", "Let the Movie Move Us", "lifeisafilmfest.com", "Lifeminute.tv", "Lisa Nicole Images LLC", "Live Your Dreams Podcast w/ Joe Gawalis & Chris Victor", "Lonewolfmedia llc", "Look Behind the Look Podcast", "Loud and Clear Reviews Corp", "LRMOnline.com - Latino Review Media", "m10s", "Manhattan Neighborhood Network", "Marie Claire", "marranodepantano.wordpress.com", "MÁS TV ENTERTAINMENT", "Mashable", "Matinee With Matt", "MavensNest.net/Movies", "Media me, please.", "Media Women Worldwide", "MediaPost", "MediaPunch Inc.", "Medium", "Medium Popcorn Podcast", "Medium.com", "Medium/OnMogul/Writerjudy", "Mentors on the Mic podcast", "Merc With A Movie Blog", "METRO.CO.UK", "Miami Latino Magazine", "MICA Scoop", "MickMickNYC", "Midiorama", "MIJA TALKS", "Milling About", "Moderated by Matt", "Moody Movie Club", "Morning Brew", "Mother Jones", "Movie Eaters", "Movie Jawn", "Movie Recs By Lex", "MovieArcher.com", "MovieJawn", "MOVIEMONTHLY", "MOVIEPUDDING", "Moviewallas.com", "MovieWeb", "MovieZine", "MSNBC", "Muropaketti", "MUSE-TV", "Mystery Catalog", "National Catholic Reporter", "NBC New York", "NeonGrafitti.com / All About Jazz", "Nerdspin", "Nerdtropolis", "NEW VISION", "New York Live/NBC New York", "New York Notebook", "New York Post", "New York Women in Film & Television (NYWIFT)", "Newsday", "Newsmax", "NewYorkTheater.me", "Next Best Picture", "Nitecast Media/ iHeart Media", "NJARTS.NET / NYFCC", "No Rest for the Weekend", "November|Eleventh", "Novyny.LIVE", "NY Post/PageSix.com", "NY1-Whipple's World", "NYC Entertainment Life", "nycmovieguru.com", "NYLON", "NYWIFT/Pennbrook TV", "OBSCURAE", "Odd Critic", "on hand", "On The Rag", "On the Scene Adventures", "ONLINE MAGAZINE", "onthetrend", "Otakus & Geeks", "OTL Seat Fillers / PopCult Lab", "Ouch\\! Magazine®", "Our Era Magazine", "Overdue Rentals/Cinema Daily US/Den of Geek/Clutchpoints", "Pacific Press Agency", "Pajiba", "Paltrocast (TV/Podcast/Web)", "Parade Magazine", "Paste Magazine", "Patrick McMullan Company", "PBS All Arts Channel", "PEOPLE", "PEOPLE / People.com", "People magazine", "People's World", "Photo Image Press", "PIX11 NEWS", "Polaris Images", "Pop Culture Madness", "Pop-Culturalist.com", "Popcorn Reviewss", "PopcornandTequila.com", "PopMatters", "Popviewers", "Portroids.com", "Pride.com", "Prime Latino Media", "Primera Hora", "Princxssfv (YouTube Channel)", "ProductionHUB.com", "ProjectedFigures.com", "Queens Buzz / Manhattan Buzz", "QUEENS CHRONICLE", "Queer Asian Social Club", "QUEERGURU", "RADIO FREE ASIA", "RAI Radiotelevisione Italiana", "raissaferreira.com", "Redux Pictures", "Reel News Daily", "Reel Talk & Reviews", "Remezcla", "Renascença", "Reppin", "Retna Ltd.", "Revista Meta", "REVOLT", "Revolver magazine", "Rex/Shutterstock", "RFM", "RogerEbert.com", "Rolling Out / Amsterdam News", "Rolling Stone", "Rotten Tomatoes/ VisAbleBlackwoman Productions", "RTL TELEVISION", "Rue Morgue", "Runway Media", "RUNY Web portal/ WYMNB-RTN/ R-Town (magazine)", "Sabor Coco", "Salon", "San Francisco Chronicle", "SCENE Cinematic release", "Science Friday", "Screen Anarchy", "Screen Comment and The Movie Revue", "Screen Rant", "ScreenAnarchy", "Script Magazine", "Shade Studios (ShadeTV)", "Sherif M. Awad", "ShortStick Films", "Shutterstock", "Shutterstock / Splash News", "SIC - Sociedade Independente de Comunicação", "SIPA USA", "SitcomsOnline", "Slant", "Slant Magazine", "SlashFilm", "Slate Magazine", "SOCIAL", "SOCIAL / Zemusha", "SoHo Art Walks LLC", "Sonia Moskowitz /Globe Photos", "soulhead.com", "Sound Waves Magazine", "SOY LATINO MAGAZINE / INNOVATION MEDIA NEW YORK", "Spanglish Cinema", "SPIN", "Splash News", "STAR MAX, Inc.", "Starlight Media", "Starry Constellation Magazine", "Startraks Photo", "Strange New Pod", "Style Music TV", "Styleculture.tv by ADDY.media", "Substream Magazine", "SUMMER Film Magazine", "Survival Jobs: A Podcast", "Tait's Take", "Taking Pictures For You 2", "Tales from the Paulside", "Talkhouse", "Telemundo 47", "TELEVISA UNIVISION", "That Hashtag Show", "The A.V. Club", "The Aisle Seat", "THE ARTISTS FORUM", "The Arts Fuse/The Art Newspaper/The National", "The ArtsWire Weekly", "The Atlantic", "The AU Review", "The Aud Hour", "The Ball Out", "The China Press", "The Cinema Group", "The Cinema Spot", "The Cinematic Reel", "The Curb", "The Cut / New York Magazine", "The Daily Beast", "The Dominion Post/MacGuffin or Meaning", "The Fan Carpet", "The Film Comment Letter", "The Film Stage", "The Forward", "The Hollywood Handle", "The Hollywood Reporter", "The Hollywood Times", "The HoloFiles", "The Hype Magazine", "The Independent", "The Industry", "The Jerusalem Post", "The Koalition", "The Last Thing I Saw", "The Light Leaks", "The Mary Sue", "The Mirror US", "The Mirror/ The Express", "The MN Movie Man", "The Motivation Show", "The Movie Blog", "The Movie Buff", "The Movie Waffler", "The New York Observer", "The New York Post / Starpix", "The New York Times", "The New Yorker", "The News Movement", "The Nikki Rich Show", "THE PEACH REVIEW", "The People's Movies", "The Podcumentary", "The Produced", "The Queens Gazette", "The Queer Review", "The Rhyme Impersonator Show w/ Celebrity Host: Richard Oliver Jr.", "The Richmond Reviewer", "The Rogers Revue", "The Rolling Tape", "The Roundtable", "The Spark Parade Inc", "The SS Ben Hecht", "The Times Weekly", "The Torch", "The Untitled Magazine", "The Village View", "the WORD (hunterword.com)", "The Wrap", "TheKnockturnal.com", "them. / Condé Nast / Freelance", "Thenews2", "THESKIMM", "ThisIsRnB", "THN", "TIME Magazine", "Times Square Chronicles", "TIZZY TLKS", "TME News", "Tomorrow Will Be Televised/Sports NewsWire", "Top Film Magazine", "TrekMovie", "True Urban Culture Magazine", "TWIN Images", "uInterview.com", "Ultimate Classic Rock", "Unger the Radar", "UNITED PRESS INTERNATIONAL", "Unpaid Film Critic", "Unseen Films", "Urban Magazine | Sand & Shores", "Us Weekly", "USA TODAY", "Vanity Fair", "Variety", "Vecherniy New York Weekly", "VIMOOZ.com", "Vogue", "VOICES OF VR PODCAST", "VRAI Magazine", "Vulture", "W Magazine", "Walla", "WBAI 99.5 FM Pacifica Radio", "WCDB Albany 90.9 FM", "We Need to Talk About Oscar", "Weekly Volcano / The Celluloid Correspondent", "West Hills Gazette", "WFMU", "WGBH", "WHAT KEPT ME UP", "Wherever I Look", "White Hot Magazine", "Who’s That Girl From Roxbury", "WikiPortraits", "WIRED", "WireImage", "WNBC-TV", "WNJU Telemundo 47", "World Journal", "World Liberty TV Entertainment Channel", "WSJ / The Daily Beast", "www.SolzyAtTheMovies.com", "Xposure Magazine", "XR PODCAST", "XRMust / Documentary", "Yahoo", "Yahoo Japan", "Yale University's WYBC 93.4 Radio Station", "YMS", "Ynet", "YRB Magazine", "You Had To Be There", "Zuma Press"]
    },
    news: {
      heading: 'Tribeca In The News',
      quotes: [
        {
          text: '“Since the festival was founded post-9/11 as a way to revitalize lower Manhattan, it’s grown into <b>one of the world’s premiere film festivals</b>, screening a cutting-edge lineup with everything from celebrity documentaries and international political features to buzzy comedies and independent short films.”',
          author: '– Matthew Huff, Parade',
          link_url: 'https://parade.com/movies/tribeca-festival-2025-must-see-movies',
        },
        {
          text: '“This year, Tribeca differentiates itself by offering <b>one of the most robust documentary slates of any festival.</b>”',
          author: '– John Ross, Vanity Fair',
          link_url: 'https://www.vanityfair.com/hollywood/story/tribeca-festival-documentaries?srsltid=AfmBOor1r5ToZp6REN1qtID4ZlcdtHvblE6qfWvTn0KpyWC8NGQn0ALC',
        },
        {
          text: '“The Tribeca Festival will launch its 24th edition Wednesday night with <b>a brighter spotlight on shorts and more music documentaries than ever dotting</b> its characteristically eclectic slate.”',
          author: '– Jill Goldsmith, Deadline',
          link_url: 'https://deadline.com/2025/06/tribeca-festival-2025-preview-1236423449/',
        },
        {
          text: '“The Tribeca Festival is <b>all about the music.</b>”',
          author: '– Brent Lang, Rebecca Rubin, Variety',
          link_url: 'https://variety.com/2025/film/news/tribeca-festival-buzzy-films-miley-cyrus-barbara-walters-1236415827/',
        },
        {
          text: '“The 2025 Tribeca Festival, closing on Sunday, has brought together a <b>dynamic mix of emerging voices and established talent</b>, showcasing stories that inspired, challenged, and surprised. From gripping feature debuts to bold documentaries and genre-bending narratives, this year’s lineup proved that the festival remains a vital platform for original storytelling.”',
          author: '– Lisa Wong Macabasco, Vogue',
          link_url: 'https://www.vogue.com/article/5-standouts-from-tribeca-festival-2025',
        },
        {
          text: '“The Tribeca Festival is undoubtedly a star-studded event with famous figures, including actors, directors, musicians and artists gracing red carpets and showcasing their works. But <b>supporting aspiring and emerging filmmakers through its artist development programs</b> is also very much part of the festival’s DNA.”',
          author: '– Shivani Vora, The New York Times',
          link_url: 'https://www.nytimes.com/2025/06/01/movies/lin-manuel-miranda-latino-films.html',
        },
        {
          text: '“Tribeca Festival has long been about nurturing creative minds and <b>shaping the cultural conversation.</b>”',
          author: '– Christina Perrier, InStyle',
          link_url: 'https://www.instyle.com/jane-rosenthal-tribeca-film-festival-interview-2025-11747676',
        },
      ]
    },
    press_highlights: {
      heading: 'Press Highlights',
      highlights: [
        {
          photo: 'highlights/1.jpg',
          url: 'https://www.nytimes.com/2025/06/01/arts/music/tribeca-festival-music-movies.html',
        },
        {
          photo: 'highlights/2.jpg',
          url: 'https://www.vanityfair.com/hollywood/story/tribeca-festival-documentaries?srsltid=AfmBOoooiY3yp0SRbXZgg16W44gHJlOdAEo-qbKpCiOM7DjXHo8U8e6a',
        },
        {
          photo: 'highlights/3.jpg',
          url: 'https://variety.com/2025/film/news/tribeca-festival-buzzy-films-miley-cyrus-barbara-walters-1236415827/',
        },
                {
          photo: 'highlights/4.jpg',
          url: 'https://www.vogue.com/article/5-standouts-from-tribeca-festival-2025',
        },
        {
          photo: 'highlights/5.jpg',
          url: 'https://deadline.com/2025/04/tribeca-festival-2025-lineup-short-films-1236373685/',
        },
        {
          photo: 'highlights/6.jpg',
          url: 'https://www.indiewire.com/features/interviews/tribeca-audio-storytelling-selections-davy-gardner-1235131097/',
        },
                {
          photo: 'highlights/7.jpg',
          url: 'https://www.indiewire.com/criticism/movies/charliebird-review-tribeca-winner-1235132468/',
        },
        {
          photo: 'highlights/8.jpg',
          url: 'https://www.nytimes.com/2025/06/01/movies/tribeca-festival-scout.html',
        },
        {
          photo: 'highlights/9.jpg',
          url: 'https://variety.com/2025/film/reviews/kites-review-pipas-1236422066/',
        },
        {
          photo: 'highlights/10.jpg',
          url: 'https://www.hollywoodreporter.com/movies/movie-reviews/natchez-review-documentary-suzannah-herbert-1236290712/',
        },
      ]
    }
  }

  splitted_heading = sections[:numbers][:heading].split(" ")
%>
<main class="">
  <section class="flex flex-col">
    <nav class="hidden md:visible md:bg-triblack md:py-8 md:flex md:justify-center">
      <h1 class="font-heading text-3xl text-white"><%= sections[:overview][:heading] %></h1>
    </nav>
    <div class="flex flex-col md:flex-row">
      <div class="bg-black flex justify-center md:w-1/2">
        <%= image_tag sections[:overview][:img], class: "object-contain", alt: "Tribeca Press" %>
      </div>
      <div class="bg-trigray flex flex-col md:w-1/2 p-4 md:p-12">
        <p class="text-base leading-relaxed mb-6"><%= sections[:overview][:body_text] %></p>
        <button class="btn-primary w-fit bg-[#FBFCF8]">
          <a href="<%= sections[:overview][:link][:url] %>" target="_blank" class="block px-6 py-4">
            <%= sections[:overview][:link][:button]%>
          </a>
        </button>
      </div>
    </div>
  </section>
  <section class="flex flex-col py-8">
    <h2 class="font-heading text-4xl md:text-[4rem] leading-tight text-center md:mt-12"><%= splitted_heading.slice(0, splitted_heading.length/2).join(" ") %></h2>
    <h2 class="font-elegant text-3xl md:text-[4rem] italic leading-tight text-triblack text-center mb-12"><%= splitted_heading.slice(splitted_heading.length/2..-1).join(" ") %></h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-10 lg:px-25">
      <% sections[:numbers][:columns].each do |col| %>
      <div class="flex flex-col">
        <h4 class="font-heading text-center md:text-left text-4xl md:text-5xl lg:text-[4rem] animate-pulse">
          <%= col.split(" ")[0]%>
        </h4>
        <p class="text-lg md:text-xl text-center md:text-left"><%= col.split(" ")[1..-1].join(" ") %></p>
      </div>
      <% end %>
    </div>
  </section>
  <section class="flex flex-col gap-y-10 md:gap-y-25 bg-trigray pt-8 md:pt-12">
    <h2 class="font-elegant text-4xl md:text-[4rem] leading-tight text-center">
      <%= sections[:logos][:heading] %>
    </h2>
    <div class="flex flex-wrap justify-center px-10 lg:gap-y-20 lg:gap-x-20 gap-y-10 gap-x-5">
    <% sections[:logos][:images].each do |src| %>
      <%= image_tag src, class: "w-sm h-15 md:w-90 md:h-25 object-contain", alt: "tribecca credentialed press logo" %>  
    <% end %>
    </div>
    <div class="flex flex-wrap justify-center py-10 px-4 md:px-15 bg-white">
      <% sections[:logos][:additional_press].each do |press| %>
      <p class="text-xs leading-none w-[50%] md:w-[33%]">
        <%= press %>
      </p>
      <% end %>
    </div>
  </section>
  <section class="flex flex-col bg-black py-5 px-4 md:px-15">
    <h2 class="font-elegant text-2xl md:text-4xl py-5 text-white leading-tight">
      <%= sections[:news][:heading] %>
    </h2>
    <div class="flex flex-col">
      <% sections[:news][:quotes].each do |quote| %>
      <a href="<%= quote[:link_url] %>" 
        target="_blank" 
        class="flex justify-between font-light text-white text-lg md:text-2xl py-5 leading-tight w-full not-last:border-b border-solid border-white"
      >
        <div class="flex flex-col gap-y-2 w-[80%]">
          <%= simple_format(quote[:text]) %></>
          <p class="italic"><%= quote[:author] %></p>
        </div>
        <button class="flex cursor-pointer">
          <%= image_tag 'arrow.svg', class: "h-10 md:h-14 object-contain justify-self-end", alt: "arrow up and right icon" %>
        </button>
      </a>
      <% end %>
    </div>
  </section>
  <section class="flex flex-col bg-triblack">
    <div class="bg-trigray">
      <h2 class="font-heading text-4xl text-fluid-h3 text-center py-8">
        <%= sections[:press_highlights][:heading] %>
      </h2>
    </div>
    <div class="grid md:grid-cols-3 lg:grid-cols-4 justify-items-center gap-12 px-8 py-8">
      <% sections[:press_highlights][:highlights].each do |highlight| %>
        <div class="flex flex-col justify-center gap-y-4 w-50% md:w-[90%] lg:w-full">
          <%= image_tag highlight[:photo], class: "object-contain ", alt: "tribeca press highlight" %>
          <button class="btn-primary bg-[#FBFCF8]">
            <a href="<%= highlight[:url] %>" target="_blank" class="block w-full h-full px-6 py-4">Read More</a>
          </button>
        </div>
      <% end %>
    </div>
  </section>
</main>